*{
	margin:0;
	padding:0;
}
#container{
	height: 150px;
	margin:50px auto;
	width: 250px;
	position: relative;
}
#container strong{
	display: block;
	font-size: 25px;
	text-align: center;

}
#no{
	top:120px;
	left:703px;
}
#yes{
	top:120px;
	left:583px;
}
button{
	background-color: #1fe4be;
	border-radius: 3px;
	border:1px solid #1fe4be;
	color:#fff;
	cursor: pointer;
	height: 30px;
	transition: 0.3s;
	width:50px;
	position: absolute;
}
button:hover{
	background-color: #fff;
	color:#1fe4be;
}
